@import 'reset';
@import 'common';

body{max-width: 100%;margin: 0 auto;}
header .topLogo .logoOuter .myInfo span{
  color: #fff;
}
.container main{margin: 0 auto;}
.blog-hero-media{
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .blog-hero-media-inner{
    position: relative;
    height: 500px;
  }
}
.blog-contents-area{
  .blog-textbox{
    position: absolute;
    bottom: 25%;
    left: 12%;
    width: 75%;
    *{
      color: #fff;
    }
    .blog-title_text{
      font-size: 3.2rem;
      font-weight: 600;
      letter-spacing: -0.5px;
      line-height: 1.7;
      margin: 0 0 40px 0;
    }
    .blog-contents-others{
      display: flex;
      align-items: flex-end;
    }
    .blog-contents-share_text.__number{
      font-size: 1.4rem;
      margin: 0 8px 0 0;
    }
    .blog-contents-share_text{
      font-size: 1.4rem;
    }
    .blog-contents-category_text{
      font-size: 1.4rem;
      margin: 0 0 0 18px;
    }
  }
}

.blog-search-area{
  width: 90%;
  margin: $middleSpace 0;
  .search-box{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    position: relative;
  }
  .search-box-input-area{
  }
  .search-box-input-area_action{
    border: none;
    outline: none;
    width: 300px;
    font-size: 1.4rem;
    border: 1px solid $mainColor;
    border-radius: 30px;
    padding: 8px 40px 8px 12px;
    :focus{
      outline: #000;
    }
  }
  .search-box-icon-area{
    position: absolute;
    right: 12px;
  }
  .search-box-icon-area_text{
    font-size: 1.8rem;
  }
}

.blog-main-contents{
  max-width: 90%;
  margin: 0 auto;
}

.blog-main-contents{
  font-size: 1.6rem;
  line-height: 2.0;
  h2{
    font-size: 2.0rem;
    line-height: 1.7;
    margin: $middleSpace 0 $smallSpace;
  }
  h3{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.7;
    margin: $middleSpace 0 $smallSpace;
  }
  blockquote{
    position: relative;
    padding: 14px 32px 14px 40px;
    margin: 24px 40px;
    box-sizing: border-box;
    font-style: italic;
    background: #f3f3f3;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    &::before{
      display: inline-block;
      position: absolute;
      top: 10px;
      left: -15px;
      width: 40px;
      height: 30px;
      vertical-align: middle;
      text-align: center;
      content: "\f10e";
      font-family: "Font Awesome 5 Free";
      color: #fff;
      font-size: 1.8rem;
      line-height: 30px;
      background: #92d4ff;
      box-shadow: 0 2px 2px rgba(26,26,26,0.14);
      font-weight: 900;
    }
    &::after{
      position: absolute;
      content: "";
      top: 40px;
      left: -15px;
      border: none;
      border-bottom: 8px solid transparent;
      border-right: 15px solid #6eb3e0;
    }
    p{
      position: relative;
      padding: 0;
      margin: 10px 0;
      z-index: 3;
      line-height: 1.7;
    }
    cite{
      display: block;
      text-align: right;
      color: #888;
      font-size: 0.9em;
    }
  }
  ul{
    padding: 14px 32px 14px 40px;
    margin: 24px 40px;
    background: #f3f3f3;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
  }
  a{
    color: #05a3ff;
  }
}

.author-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: $mainSpace auto $smallSpace;
  padding: 24px 32px;
  margin: 0 40px;
  border: 1px solid $mainColor;
  border-radius: 5px;
  box-sizing: border-box;
  .author-header-block{
    display: flex;
    align-items: center;
    width: 25%;
  }
  .author-icon-outer{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    .author_icon{
      width: 85px;
      height: 85px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .author-textbox{
    margin: 0 0 0 20px;
  }
  .author-textbox-label_text{
    display: block;
    font-size: 1.1rem;
  }
  .author-name_text{
    display: block;
    margin: 16px 0 0 0;
    font-size: 1.8rem;
  }
  .author-main-block{
    width: 65%;
  }
  .author-main_text{
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

.contact-area{
  background: #f3f3f3;
  .contact-area-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: $middleSpace 0;
  }
  .contact-area_text{
    font-size: 1.6rem;
  }
  .contact-btn_text{
    display: inline-block;
    background: $navSelectedColor;
    color: #fff;
    padding: 14px 24px;
    font-size: 1.4rem;
  }
}


.blog-related-area{
  margin: $mainSpace auto 0;
}
.blog-related-heading_text{
  font-size: 2rem;
  line-height: 1.7;
  margin: 40px 0 24px;
}

.blog-others-list{
  display: flex;
  flex-wrap: wrap;
  margin: $smallSpace 0 0 0;
  .blog-item.__others{
    width: 31.3%;
    &+ .blog-item.__others{
      margin-left: 3%;
    }
    &:nth-child(3n+1){
      margin-left: 0 !important;
    }
    &:nth-child(n+4){
      margin-top: $middleSpace;
    }
    .blog-link{
      display: block;
    }
    .blog-media-outer{
      overflow: hidden;
    }
    .blog-media{
      position: relative;
      height: 160px;
      background-size: cover;
      transition: .3s ease-out;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: .3s ease-out;
      }
    }
    .blog-textbox{
    }
    .blog-titlebox_text{
      display: block;
      font-size: $archiveTitle;
      line-height: 1.5;
    }
    .blog-others{
      display: flex;
      align-items: baseline;
      margin: 20px 0 14px;
    }
    .blog-share_text{
      display: inline-block;
      margin: 0 14px 0 4px;
      font-size: $archiveShare;
    }
    .blog-share_text.__number{
      font-size: $archiveShareNumber;
      margin: 0;
    }
    .blog-category_text{
      font-size: $archiveCategory;
    }
    &:hover .blog-media{
      transform: scale(1.1);
      &::after{
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}


/* 992pxä»¥ä¸Š  vw@1080px*/
@media (min-width: 992px) {
  $cms-blog-detai-width: 800px;
  .blog-main-contents{
    max-width: $cms-blog-detai-width;
    margin: 0 auto;
  }
  .author-area{
    width: $cms-blog-detai-width;
    margin: $mainSpace auto $smallSpace;
  }
  .contact-area{
    .contact-area-inner{
      width: $cms-blog-detai-width;
      margin: 0 auto;
    }
  }
  .blog-related-area{
    max-width: $cms-blog-detai-width;
    margin: $mainSpace auto 0;
  }
}

/* 1200pxä»¥ä¸Š */
@media (min-width: 1200px) {
  $cms-blog-detai-width: 1000px;
  .blog-main-contents{
    max-width: $cms-blog-detai-width;
    margin: 0 auto;
  }
  .author-area{
    width: $cms-blog-detai-width;
    margin: $mainSpace auto $smallSpace;
  }
  .contact-area{
    .contact-area-inner{
      width: $cms-blog-detai-width;
      margin: 0 auto;
    }
  }
  .blog-related-area{
    max-width: $cms-blog-detai-width;
    margin: $mainSpace auto 0;
  }
}

@media (min-width: 1680px) {}
