@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}
$leadFont: 'Ubuntu', sans-serif;
$mainColor: #12003e;
$mainFontSize: 1.4rem;
$bigFontSize: 4.8rem;
$middleFontSize: 2rem;
$navSelectedColor: #fd5f00;
$mainSpace: 56px;
$middleSpace: 40px;
$smallSpace: 24px;
$bigSpace: 72px;
$topSpace: 210px;
$mainLineHeight: 2.0;


* {
  color: #222;
}

html, body {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $leadFont;
  font-style: normal;
  font-weight: 800;
  font-size: $bigFontSize;
  color: #12003e;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  padding: 32px 0 0 0;
  z-index: 100;
  .topLogo{
    .logoOuter{
      a{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .logo{
        width: 72px;
        img{
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
      .myInfo{
        margin: 0 0 0 24px;
        div{
          margin: 8px 0;
        }
        span{
          font-family: $leadFont;
          font-size: 1.8rem;
        }

      }
    }
  }
  .snsArea{
    .snsList{
      display: flex;
      align-items: center;
      .sns{
        width: 30px;
        img{
          width: 100%;
          max-width: 100%;
          height:auto;
        }
        +.sns{
          margin: 0 0 0 20px;
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  main{
    margin: $topSpace 0 0 0;
  }
  .area {
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    +.area{
      margin: $bigSpace auto 0;
    }
    .areaTitle {}
    .mainArea {
      padding-top: $mainSpace;
    }
  }
}

nav {
  position: fixed;
  top: 25%;
  right: 5%;
  font-size: 1.6rem;
  z-index: 10;
  .navList .navItem {
    position: relative;
    text-align: center;
    + .navItem {
      margin-top: 61px;
    }
    a {
      font-family: $leadFont;
      opacity: 0;
      transition: .25s ease-out 0s;
    }
    &:hover a {
      opacity: 1;
    }
    .rectbox {
      /* display: block; */
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: $mainColor;
      transform: rotate(45deg);
      margin: auto;
      /* opacity: 1; */
      &.fadeOut {
        animation: .5s forwards;
        animation-name: fadeout;
      }
      &.fadeIn {
        animation: .5s forwards;
        animation-name: fadein;
      }
    }
  }
}

@keyframes fadeout {
  from {
    transform: rotate(45deg);
    opacity: 1;
    width: 20px;
    height: 20px;
    display: block;
  }

  to {
    transform: rotate(405deg);
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
}


@keyframes fadein {
  from {
    transform: rotate(405deg);
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }

  to {
    transform: rotate(45deg);
    opacity: 1;
    width: 20px;
    height: 20px;
    display: block;
  }
}




/* 992pxä»¥ä¸Š  vw@1080px*/
@media (min-width: 992px) {}

/* 1200pxä»¥ä¸Š */
@media (min-width: 1200px) {}

@media (min-width: 1680px) {}
