@charset "UTF-8";
@import 'reset';
@import 'common';

.container {
  .area{
  }
  .area .mainArea .inner {
    .textArea {
      p {
        font-size: $mainFontSize;
        line-height: $mainLineHeight;
      }
    }
    .offerList{
      display:flex;
      .offer{
        text-align: center;
        h3{
          font-size: $middleFontSize;
          margin: 0 0 $smallSpace 0;
        }
        .detailArea{
          .concept{width: 100px;}
          .design{width: 100px;}
          .coding{width: 100px;}
          .icon{
            height: auto;
            margin: 0 auto;
            img{
              width: 100%;
              max-width: 100%;
              height: auto;
            }
          }
          .text{
            margin: $smallSpace 0 0 0;
            font-size: $mainFontSize;
            line-height: $mainLineHeight;
          }
        }
        +.offer{
          margin: 0 0 0 5%;
        }
      }
    }
  }
}
nav .navItem:nth-child(1) {
  a {
    opacity: 1;
    display: block;
    color: $navSelectedColor;
    cursor: default;
  }
  .rectbox {
    opacity: 0;
    display: none;
  }
}

/* nav */

/* [END] nav */

/* 992pxä»¥ä¸Š  vw@1080px*/
@media (min-width: 992px) {}

/* 1200pxä»¥ä¸Š */
@media (min-width: 1200px) {}

@media (min-width: 1680px) {}
